# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

db_assign2
module1
external-merge-sort
external-merge-sort-debug
debuginfo
*input*
*output*
temp/
1
2
3
4
gensort*
valsort

*.zip

# C extensions
*.so

# Sqlite 3
#*.sqlite3

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/
